/* Default styles */
.therapy {
  background-color: #f2f2f2;
  padding: 5rem;
}

.therapy-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
}

.therapy-title {
  font-family: Inter;
  margin-bottom: -2rem;
  color: #26ABA3;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.therapy-description {
  font-size: 2.5rem;
  margin-bottom: -3rem;
  font-weight: bold;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.therapy-catalog {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.therapy-box {
  width: 350px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  border: 0.2px solid #ededed;
}

.therapy-box:hover {
  transform: translateY(-20px);
  transition: 1s ease;
  box-shadow:
    0.9px 0.9px 4.7px rgba(0, 0, 0, 0.001),
    3.1px 3.1px 11.2px rgba(0, 0, 0, 0),
    7.6px 7.6px 21.2px rgba(0, 0, 0, 0.001),
    16.3px 16.3px 37.7px rgba(0, 0, 0, 0.003),
    35.7px 35.7px 70.6px rgba(0, 0, 0, 0.01),
    100px 100px 169px rgba(0, 0, 0, 0.04);
}

.f-box-icon {
  aspect-ratio: 6/4;
  width: 100%;
  margin-bottom: 5px;
}

.f-box-heading {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: left;
  margin: 1.5rem;
}

.f-box-sub {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 0.9rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
  margin-bottom: 0.8rem;
}

.therapy-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.therapy-box p {
  font-size: 1rem;
  font-family: Inter;
}

.lexplore-btn {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  float: left;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-family: Inter;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.lexplore-btn:hover {
  transform: scale(1.1);
}

/* Media queries for different breakpoints */

/* Max width: 1440px */
@media only screen and (max-width: 1440px) {
  .therapy {
    padding: 4rem;
  }
  .therapy-description {
    font-weight: 400;
  }
}

/* Max width: 1240px */
@media only screen and (max-width: 1240px) {
  .therapy {
    padding: 3.5rem;
  }
}

/* Max width: 1024px */
@media only screen and (max-width: 1024px) {
  .therapy {
    padding: 3rem;
  }
  .therapy-title {
    font-size: 1.2rem;
  }
  .therapy-description {
    font-size: 2rem;
  }
}

/* Max width: 992px */
@media only screen and (max-width: 992px) {
  .therapy {
    padding: 2.5rem;
  }
}

/* Max width: 768px */
@media only screen and (max-width: 768px) {
  .therapy {
    padding: 2rem;
  }
}

/* Max width: 596px */
@media only screen and (max-width: 596px) {
  .therapy {
    padding: 1.5rem;
  }
  .therapy-title {
    font-size: 1.2rem;
    margin-top: 3rem;
  }
  .therapy-description {
    margin-top: 3rem;
  }
}

/* Max width: 320px */
@media only screen and (max-width: 320px) {
  .therapy {
    padding: 1rem;
  }
}
