.hero3 {
    background-image: url('./Group8.svg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - rem);
  }
  
  .hero3-content {
    display: flex;
    max-width: 60%;
    align-items: center;
    padding: 3rem;
    color: #ffffff;
    margin-left: 8rem;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hero3-title {
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1;
    font-weight: 600;
  }
  
  .hero3-description {
    font-size: 1.2rem;
    color:white;
    font-family: inter;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    
  }

  .hero3-content ul{
    list-style: none;
  }

  .explore-btn {
    margin-top: 0.5rem;
    padding: 10px 20px ;
    background-color: #F7841E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inter;
    cursor: pointer;
    transition: transform 0.3s ease; 
  }
  
  .explore-btn:hover {
    transform: scale(1.1); 
  }
  
  /* Media Queries */
@media only screen and (max-width: 1440px) {
    .hero3-content {
      margin-left: 4rem;
      max-width: 60%;
    }
    .hero3-title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      font-weight: bold;
      line-height: 1;
      font-weight: 400;
    }
    .hero3-description {
      font-size: 1.1rem;
      letter-spacing: 1.2px;
      font-weight: 500;
    }
    
  }

@media only screen and (max-width: 1200px) {
  .hero3-content {
    margin-top: -1rem;
    max-width: 52%; 
  }
  .hero3-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-left: -2rem;
    line-height: 1;
    font-weight: 400;
  }
  .hero3-description {
    font-size: 1.1rem;
    margin-left: -2rem;
    letter-spacing: 1.2px;
  }
  .explore-btn {
    margin-left: -2rem;
  }
  

}

@media only screen and (max-width: 1024px) {
  .hero3-content {
    margin-left: 4rem;
    max-width: 50%;
  }
  .explore-btn {
    font-size: 1rem;
    font-weight: 400;
  }
  .hero3-title {
    font-size: 2rem;
  }
  .hero3-description {
    font-weight: 1;
    font-size: 1.1rem;
    margin-left: -2rem;
    letter-spacing: 1.1px;
  }
  
}
@media only screen and (max-width: 992px) {
  .hero3-content {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero3-content {
    margin-left:3rem;
    max-width: 80%;
  }

  .hero3-title {
    font-size: 2rem;
  }

  .hero3-description {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero3-content {
    margin-left: 3rem;
    max-width:100% ;
  }

  .hero3-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero3-description {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .explore-btn {
    font-size: 1.1rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 375px) {
  .hero3-content {
    margin-left: 3rem;
    max-width:100% ;
  }

  .hero3-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero3-description {
    font-size: 1.2rem;
    
  }
}