

/* Default styles */
.bodyContainer {
    margin: 0 auto;
    padding: 150px 0 80px 0;
    text-align: center;
    /* margin-top: -20rem; */
    /* margin-bottom: 1.75rem; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .bodyContainer .bodyText {
    padding-bottom: 1rem;
    width: 100%;
} */

/* .bodyContainer .bodyText h5 {
    font-family: Inter;
    color: #26ABA3;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: -1rem;
    margin-top: 23rem;
} */

/* .bodyContainer .bodyText h3 {
    font-family: Zilla Slab;
    color: #000000;
    line-height: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin-inline: -7rem;
} */

/* .bodyContainer .bodyText p {
    font-family: Inter;
    color: #565656;
    font-size: 1.5rem;
    font-weight: 400;
    margin-inline: -6rem;
} */

.bodyVideo {
    width: 100%;
    margin-bottom: 2rem;
}

.bodyVideo embed {
    width: 833px;
    height: 437px;
}

/* Media queries for different breakpoints */

/* Mobile devices */

/* Tablets and small laptops */
/* @media only screen and (max-width: 1440px) {
    .bodyContainer {
        width: 60%;
        margin-top: -8rem;
        margin-bottom: 1.5rem;
    }

    .bodyContainer .bodyText h5 {
        font-size: 1.5rem;
        margin-top: 10rem;
        
    }

    .bodyContainer .bodyText h3 {
        font-size: 2.4rem;
        line-height: 0.5;
        font-weight: 400;
        margin-inline: -5rem;
        margin-bottom: -0.1rem;
    }

    .bodyContainer .bodyText p {
        font-size: 1.5rem;
        margin-inline: -4rem;
    }

    .bodyContainer .bodyVideo embed {
        width: 100%;
        height: 25rem;
    }
}

/* Larger screens */
/* @media only screen and (max-width: 1200px){
    .bodyContainer {
        width: 60%;
        margin-top: -21rem;
        margin-bottom: 1rem;
    }

    .bodyContainer .bodyText h5 {
        font-size: 1.5rem;
        margin-top: 23rem;
    }

    .bodyContainer .bodyText h3 {
        font-size: 2.5rem;
        margin-inline: -7rem;
    }

    .bodyContainer .bodyText p {
        font-size: 1.5rem;
        margin-inline: -6rem;
    }

    .bodyContainer .bodyVideo embed {
        width: 833px;
        height: 437px;
    }
}
@media only screen and (max-width: 1024px) {
    .bodyContainer {
        width: 90%;
        margin-top: -10rem;
        margin-bottom: 1rem;
    }

    .bodyContainer .bodyText h5 {
        font-size: 1.2rem;
        margin-top: 12rem;
    }

    .bodyContainer .bodyText h3 {
        font-size: 1.8rem;
        margin-inline: -4rem;
    }

    .bodyContainer .bodyText p {
        font-size: 1.2rem;
        margin-inline: 1rem;
    }

    .bodyContainer .bodyVideo embed {
        width: 92%;
        height: 20rem;
    }
}

@media only screen and (max-width: 618px) {
    .bodyContainer {
        width: 90%;
        margin-top: -10rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
    }

    .bodyContainer .bodyText h5 {
        font-size: 1.2rem;
        margin-top: 12rem;
    }

    .bodyContainer .bodyText h3 {
        font-size: 2rem;
        line-height: 1;
        margin-inline: 1rem;
    }

    .bodyContainer .bodyText p {
        font-size: 1.2rem;
        margin-inline: 1rem;
    }

    .bodyContainer .bodyVideo embed {
        width: 92%;
        height: 20rem;
    }
}

@media only screen and (max-width: 425px) {
    .bodyContainer {
        width: 80%;
        margin-top: -10rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
    }

    .bodyContainer .bodyText h5 {
        font-size: 1.2rem;
        margin-top: 12rem;
    }

    .bodyContainer .bodyText h3 {
        font-size: 2rem;
        line-height: 1;
        margin-inline: 1rem;
    }

    .bodyContainer .bodyText p {
        font-size: 1.2rem;
        margin-inline: 1rem;
    }

    .bodyContainer .bodyVideo embed {
        width: 100%;
        height: 20rem;
    }
} */
