/* Original styles */
.footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Updated styles */
.footerContainer {
  background-color: #000000;
  padding: 20px;
}
.logo{
  height: 75px;
  width: auto;
}
.footerNav {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 700;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footerNav h2 {
  color: #f7841e;
  line-height: 1;
  font-size: 30px;
  margin: 0;
}

.footerNav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footerNav ul li {
  padding-left: 1.3rem;
}

.footerNav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--header-font-family);
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  /* padding: 1rem; */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footerNav ul li a:hover {
  color: #26ABA3;
  transform: scale(1.1);
}

.footerContainer hr.borderLine {
  border-top: 0px #d9d9d9;
  margin: 1rem;
  opacity: 0.6;
  margin-inline: -10px;
}

.footerLast {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLast .footerText p {
  font-family: 'Inter', sans-serif;
  color: var(--gray-bg);
  font-size: 0.8rem;
  margin: 0;
}

.socialIcons button {
  background: #d9d9d933;
  border: 1px #d9d9d933;
  border-radius: 0.2rem;
  margin: 0 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socialIcons button:hover {
  transform: scale(1.1);
}

.socialIcons img {
  height: 1rem;
  width: auto;
  margin: 10px;
}