.pop-up{
    padding: 2rem;
    max-width: 1000px;
    border-radius: 10px;
    border: 1px solid var(--border-field);
    min-height: 200px;
    margin: 1rem auto;
}
.q-option{
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.q-option span{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 20px;
}
.q-option input[type=radio]{
    width: 25px;
    height: 25px;
}
.sentiment-form{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}