.page-container {
    display: flex;
    flex-direction: column;
  }
  .mn{
    margin-top:3rem;
    padding-left: 40rem;
  }
  .hg{
    padding-left: 40rem;
  }
  .des{
    /* padding-left: 20rem; */
    margin-left: 17rem;
    margin-bottom: 2rem;
  }
  .head2{
    display:flex;
    background-color: #F6F6F6;
    text-align: center;
    justify-content: center;
    font-size: 2rem !important;
    font-family: inter;
  }
  .full-container2{
    background-color:#F6F6F6;
  }
  .container1 {
    flex: 1;
    height: 100rem; 
    justify-content: center;
    background-color:white;
  }
  
  .container2 {
    flex: 1;
    background-color: #F6F6F6;
    display: flex;
    padding: 0rem ;
    margin-right: 8rem;
    height: 50rem;
  }
  .container2 ul{
    display: flex;
    gap:3rem;
    margin-left:12rem;
    list-style: none;
  }
  
  .video-container {
    flex: 1;
    padding:5rem;
    height: 14rem; 
    margin: 3rem;
    background-color: gray;
  }