*{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
p{
  line-height: 1.5;
}
:root{
  --header-font-family:'Zilla Slab', serif;
  --header-font-size:3rem;
  --mini-header-letter-spacing:2px;
  --lime-blue:#26ABA3;
  --orange:#F7841E;
  --gray-text:565656;
  --border-field:#D5D5D5;
  --gray-bg:#F2F2F2;
  --link-color:#307CEE;
  --secondary-text-color:#565656;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
iframe{
  border: none;
  border-radius: 5px;
}