.navbar {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-weight: 400;
  /* line-height: 38px; */
  /* letter-spacing: 0em; */
  text-align: left;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 2rem; */
  padding: 1rem;
  font-size: 1rem;
}

.logo {
  width: auto;
  height: 50px !important;
  margin-bottom: 0.5rem;
}

.profile-avatar {
  display: block;
  margin: 0 auto;
  /* margin-top: 0.5rem; */
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e74c3c;
  cursor: pointer;
}

.pop-up{
  position: absolute;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: black;
}
/* .pop-up { */
  /* position: absolute; */
  /* top: 60px; */
  /* right: 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 100;
} */

.h-menu ul {
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.h-menu li {
  font: Inter;
  list-style: none;
}
.book{
  text-transform: uppercase;
  letter-spacing: var(--mini-header-letter-spacing);
  font-size: 0.75rem;
}
.h-menu li a {
  text-decoration: none;
  font-family: Inter;
  color: black;
  padding: 1rem;
  /* line-height: 1rem; */
  font-weight: 400;
  /* font-size: 1.1rem; */
  display: flex;
  transition: transform 0.3s ease;
}

.h-menu li a:hover {
  transform: scale(1.1);
}

.navbar-links li:hover {
  background-color: black;
}

.calendar-icon {
  margin-right: 1rem;
  height: 1.5rem;
  padding-top: 0.2rem;
}

/* .appointment-btn-left {
  float: left !important;
}

.appointment-btn-right {
  float: right !important;
  font-family: Inter;
} */

.appointment-btn {
  display: flex;
  margin-top: 0.5rem;
  padding: 8px 15px;
  background-color: #26aba3;
  font-weight: 500;
  /* letter-spacing: 0em; */
  text-align: left;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  transition: transform 0.3s ease;
}

.appointment-btn:hover {
  transform: scale(1.1);
  background-color: #000;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  position: relative;
  background-color: black;
  border-radius: 10px;
}